@media (max-width:1400px) {
    .box {
        height: 700px;

    }

    .box:before {

        top: -3%;
        left: -5%;
    }

    .box:after {

        bottom: -10%;
        right: -5%;
    }
}

@media (max-width:1300px) {
    .box {
        height: 650px;

    }


}

@media (max-width:1200px) {
    .box {
        height: 600px;

    }


}

@media (max-width:1100px) {
    .box {
        height: 550px;

    }

}

@media (max-width:1000px) {
    .box {
        height: 500px;
    }

}

@media (max-width:950px) {
    .box {
        height: 450px;
    }

}

@media (max-width:850px) {
    .main {
        margin-top: -100px;
    }

    .box {
        height: 400px;
    }

}

@media (max-width:750px) {

    .main {
        margin-top: -90px;
    }

    .box {
        height: 300px;
    }

    .box:before {

        top: -4%;
        left: -6%;
    }

    .box:after {

        bottom: -13%;
        right: -5%;
    }
}

@media (max-width:650px) {
    .main {
        margin-top: -80px;
    }

    .box {
        height: 250px;
    }

    .box:before {

        top: -5%;
        left: -6%;
    }

    .box:after {

        bottom: -13%;
        right: -5%;
    }
}

@media (max-width:600px) {
    .main {
        margin-top: -70px;
    }

    .box {
        height: 250px;
    }

    .box:before {

        top: -4%;
        left: -6%;
    }

    .box:after {

        bottom: -12%;
        right: -5%;
    }
}

@media (max-width:550px) {
    .main {
        margin-top: -60px;
    }

    .box {
        height: 200px;
    }

    .box:before {

        top: -4%;
        left: -6%;
    }

    .box:after {

        bottom: -14%;
        right: -5%;
    }
}

@media (max-width:500px) {


    .box {
        height: 200px;
    }

    .box:before {

        top: -4%;
        left: -6%;
    }

    .box:after {

        bottom: -13%;
        right: -6%;
    }
}

@media (max-width:450px) {


    .box {
        height: 180px;
    }

}

@media (max-width:400px) {


    .box {
        height: 150px;
    }

    .box:before {

        top: -4%;
        left: -6%;
    }

    .box:after {

        bottom: -14%;
        right: -6%;
    }
}